:root {
  --color-text-rgb: 51, 51, 51; /* #333333 */
  --color-bg-rgb: 250, 250, 250; /* #fafafa */

  --color-text: rgb(var(--color-text-rgb));
  --color-bg: rgb(var(--color-bg-rgb));
}
.dark {
  --color-text-rgb: 250, 250, 250; /* #fafafa */
  --color-bg-rgb: 51, 51, 51; /* #333333 */
}

body {
  font-family: Comic Sans MS;
  font-size: 17px;
  color: var(--color-text);
  background-color: var(--color-bg);
}


button,
input,
input:focus,
input.answered {
  background-color: transparent;
  border: 2px solid #b4b4b4;
  padding: 0.5rem 2rem;
  margin: 0rem 0.75rem;
  border-radius: 1rem;
}
button:focus,
input:focus {
  outline: none;
}
button[disabled],
button.selected {
  color: rgb(91, 200, 255);
  border-color: rgb(91, 200, 255);
}
button.correct,
input.correct {
  color: rgb(52, 212, 105);
  border-color: rgb(77, 231, 128);
}
button.incorrect,
input.incorrect {
  color: #ff7676;
  border-color: #ff7676;
}
main {
  padding: 0 10px;
}
.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 140px;
}
.footer {
  overflow: hidden;
  position: relative;
}
.footer > div {
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.footer > div.messageBox {
  background: #d7ffb8;
  position: absolute;
  top: 100%;
}
.footer > div.messageBox.shown {
  top: 0%;
}
.footer > div.messageBox.incorrect {
  background: #ffcccc;
}