:root {
  --color-text-rgb: 51, 51, 51; /* #333333 */
  --color-bg-rgb: 250, 250, 250; /* #fafafa */

  --color-text: rgb(var(--color-text-rgb));
  --color-bg: rgb(var(--color-bg-rgb));
}
.dark {
  --color-text-rgb: 250, 250, 250; /* #fafafa */
  --color-bg-rgb: 51, 51, 51; /* #333333 */
}

:root {
  font-size: 12px;
}

body {
  font-family: Comic Sans MS;
  font-size: 17px;
  color: var(--color-text);
  background-color: var(--color-bg);
}

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

html, body, #__next {
	height: 100%;
}
body {
	font-family: 
		/* 'M PLUS Rounded 1c', */
		'Kiwi Maru',
		'serif';
    /* font-weight: bold; */
}

/*
// For debuggin: there is a bug in firefox, 
// that user cannot press enter after pressing 
// enter to submit their MC type qeustion's answer. 
//
// Is it my site's and chrome's, or is it firefox's bug?
//
*:focus {
  outline: 2em solid #F00 !important;
}
*/

.quizStyles button,
.quizStyles input {
  --btn-color-text-rgb: var(--color-text-rgb);
  --btn-color-border-rgb: var(--color-text-rgb);

  --btn-color-text: rgb(var(--btn-color-text-rgb));
  --btn-color-border: rgb(var(--btn-color-border-rgb));

	background-color: transparent;
  color: var(--btn-color-text);
	border: 0.1rem solid var(--btn-color-border);
	padding: .8rem 1rem;
	min-width: 2rem;
	margin: 0rem 0.75rem;
	border-radius: 1.5rem;
	font-size: 1.75rem;
}

.quizStyles button svg path {
  /* Use text color as fill color */
  fill: var(--btn-color-text);
}

.quizStyles button:focus,
.quizStyles input:focus {
  outline: none;
}
.quizStyles button[disabled]:not(.correct, .incorrect) {
  --btn-color-text: rgba(var(--color-text-rgb), .25);
  --btn-color-border: rgba(var(--color-text-rgb), .25);
}
.quizStyles button.recording,
.quizStyles button.selected,
.quizStyles input:focus,
.quizStyles input.answered {
  --btn-color-text-rgb: 91, 200, 255;
  --btn-color-border-rgb: 91, 200, 255;
  /* Blue */
}
.quizStyles button.correct,
.quizStyles input.correct {
  --btn-color-text-rgb: 52, 212, 105;
  --btn-color-border-rgb: 77, 231, 128;
  /* Green */
}
.quizStyles button.incorrect,
.quizStyles input.incorrect {
  --btn-color-text-rgb: 255, 118, 118;
  --btn-color-border-rgb: 255, 118, 118;
  /* Red (#ff7676) */
}
main {
  padding: 0 10px;
}

/* container layout */
.app-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
	grid-template-rows: 11.25rem 1fr 10rem;
}

.session {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 3.125rem;
  width: 100%;
}

/* progress */
.progressNav {
  margin: 4rem auto 6rem;
  display: flex;
}
.session.progressNav {
  max-width: 1230px;
}

.progressNav .progressBar {
  height: 1.25rem;
  background: rgba(var(--color-text-rgb), 0.05);
  border-radius: 0.625rem;
  transition: 0.5s;
  flex-grow: 1;
}

.progressNav .progressBar > .progress {
  background: #7AF16C;
  height: 100%;
  border-radius: 0.625rem;
  transition: 0.5s;
}

.progressNav .cross {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 2.5rem;
}

.progressNav .cross svg {
  fill: #707070;
}

/* question */
.question_container {
  padding-bottom: 2rem;
}
.question_container .instruction {
  font-size: 2.25rem;
}
.question_container .question_area {
  margin: 10rem auto;
  text-align: center;
}
.question_container .question_area .primary {
  font-size: 3rem;
}
.question_container .question_area .secondary {
  font-size: 1.875rem;
  margin-top: 1.875rem;
}

.audio {
  text-align: center;
}
.audio .playbutton {
  display: inline-block;
  width: 7rem;
}
.audio .playbutton svg {
  width: 100%;
}

.primary .playbutton {
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 1.5rem;
}
.primary .playbutton svg {
  height: 100%;
}
.primary span {
  vertical-align: middle;
}

/* answer */
.options {
  padding: 1rem 0.5rem;
  max-width: 720px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
}
@media (min-width: 1000px) {
  .options {
    padding: 1rem 2rem;
  }
}
@media (max-width: 640px) {
  .options {
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 420px;

    grid-template-columns: 1fr 1fr;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }
}
@media (max-width: 420px) {
  .options {
    max-width: 300px;

    grid-template-columns: 1fr;
  }
}

.options > .option {
  margin: 0;
}

.input_container {
  text-align: center;
  padding: 1rem 2rem;
}

.input_container > .input {
  text-align: center;
  max-width: 16rem;
  min-width: 16rem;
  width: 100%;
}

.image_container {
  text-align: center;
}
.image_container img {
  max-height: 225px;
  display: inline-block;
}

.speech {
  text-align: center;
}
.speech button {
  width: 100%;
  max-width: 400px;
  margin: 0;
}
.speech button svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem;
  margin-right: .5rem;
}
.speech button span {
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
  margin-left: .5rem;
  margin-right: .5rem;
}
@media (max-width: 275px) {
  .speech button span {
    display: none;
  }
}

/* footer */
.footer {
  position: relative;
  overflow: hidden;
}

.advice {
  background: hsl(94, 100%, 86%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  transition: top 0.2s, background 0s 0.2s;
}
.advice.shown {
  top: 0;
  transition: top 0.2s, background 0s;
}

.footer > .session,
.advice > .session {
  display: flex;
  height: 100%;
  align-items: center;
}
.footer > .session button,
.advice > .session button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.advice > .session .primary {
  color: hsl(160, 100%, 46%);
  font-weight: bold;
  font-size: 2.15rem;
}

.advice > .session .secondary {
  color: hsl(160, 100%, 46%);
  font-weight: bold;
  font-size: 1.75rem;
}

.advice > .session button {
  /* background-color: #00e1ff;
  padding: 0.5rem 0.5rem;
  font-size: 1.25rem; */
  border: none;
  padding: 0.5rem 1.25rem;
  /* border-width: 3px; */
  background-color:hsl(160, 100%, 46%);
  width: 6rem;
  height: 4rem;
  transition: background 0s 0.2s;
}
.advice > .session button svg path {
  fill: #FAFAFA;
  transition: background 0s 0.2s;
}

.advice > .session .indicator {
  margin-right: 3.5rem;
  padding: 1rem;
  border-radius: 9rem;
  background-color: hsl(160, 100%, 46%);
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0s 0.2s;
}
.advice > .session .indicator svg {
  max-height: 100%;
  max-width: 100%;
  /* fill:#d7ffb8; */
  fill: #FAFAFA;
}

.advice.incorrect {
  background: #ff7676;
}
.advice.incorrect > .session button {
  background-color:rgb(223, 26, 69);
  transition: background 0s;
}
.advice.incorrect > .session button svg path {
  fill: #FAFAFA;
  transition: background 0s;
}
.advice.incorrect > .session .indicator {
  padding: 1.2rem;
  background-color:rgb(223, 26, 69);
  transition: 0s;
}
.advice.incorrect > .session .primary {
  color: #FAFAFA;
}

.advice.incorrect > .session .secondary {
  color: #FAFAFA;
}

/* finish screen */
.finishScreen {
  text-align: center;
}

/* Home page */
.home-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.homeNav {
  border-bottom: 1px solid rgba(var(--color-text-rgb), 0.2);
  height: 6rem;
}
.homeNav > .session {
  height: 100%;
  max-width: 1480px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 3fr 4fr 3fr;
}
.homeNav > .session > .item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeNav > .session > .item a {
  height: 100%;
  display: block;
  padding: 1.75rem;
  font-weight: bold;
  white-space: nowrap;
}
.homeNav > .session > .item a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.homeNav > .session > .item svg {
  height: 100%;
  display: inline-block;
  vertical-align: middle;

  fill: var(--color-text);
}
.homeNav > .session > .item span {
  margin-left: 1rem;
  vertical-align: middle;
}
@media (max-width: 680px) {
  .homeNav > .session > .item span {
    display: none;
  }
}

.topics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100%;
  max-width: 1200px;
  font-weight: bold;
}
.topics .wrap {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

@media (max-width: 680px) {
  .topics {
    display: block;
    padding-top: 2rem;
  }
  .topics .wrap {
    display: block;
    padding: 2rem .5rem;
  }
}
.topics .item {
  text-align: center;
  padding: 0 20px;
}
.topics .item a {
  display: block;
}
.topics .item .icon {
  display: inline-block;
  position: relative;
  --item-size: 80px;
  width: var(--item-size);
  height: var(--item-size);
}
.topics .item .icon .icon-bg {
  display: block;
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.topics .item .icon .icon-main {
  display: block;
  position: absolute;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topics .item .icon .icon-main > svg {
  width: 45%;
}

.topics .item .personalBestTime {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
  background: rgba(var(--color-text-rgb), .1);
  border-radius: .5rem;
  padding: .5rem 1rem;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
}
.topics .item .personalBestTime:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-1 * var(--tri-size));
  left: calc(50% - var(--tri-size));

  --tri-size: 1rem;
  border-left: var(--tri-size) solid transparent;
  border-right: var(--tri-size) solid transparent;
  border-bottom: var(--tri-size) solid rgba(var(--color-text-rgb), .1);
}
.topics .item .personalBestTime .title {
  font-size: .8em;
}
.topics .item a:hover ~ .personalBestTime {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s, visibility 0s;
}

.tropies-container {

}

.tropies-box {
  background-color: #ffffff;
  margin-top: 12rem;
  margin-bottom: 6rem;
  border: 1px solid var(--color-text);
  border-radius: 2.5rem;
  overflow-y: auto;
}
.tropies-box .loading {
  max-width: 5rem;
  margin: 0 auto;
}
.tropies-box .title {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  border-bottom: 1px solid var(--color-text);
}
.tropies-box .tropies {
  max-height: 48rem;
  overflow-y: auto;
  padding: 2.5rem;
}
.tropies-box .tropies .item {
  --trophy-item-height: 5rem;
  height: var(--trophy-item-height);
  overflow-x: auto;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
}
.tropies-box .tropies .item:nth-child(2n + 1) {
  background-color: #EEEEEE;
}
.tropies-box .tropies .item .icon {
  padding: 1rem;
  height: 100%;
  min-width: var(--trophy-item-height);
  aspect-ratio: 1 / 1; /* not supported in safari */
}
.tropies-box .tropies .item .icon svg {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}
.tropies-box .tropies .item .details {
  padding: .2rem;
  flex-grow: 1;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tropies-box .tropies .item .details .name {}
.tropies-box .tropies .item .details .description {}

/* overlay */
.overlay-container {
  position: fixed;
  z-index: 1;
}

.overlay-layout {
  position: fixed;
  inset: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-layout.transparent {
  background: transparent;
}

.overlay-layout.right {
  left: 100%;
}

/* Login */
#login-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
