
.ruby.trophy svg {
  fill: #FF5F5F;
}
.diamond.trophy svg {
  fill: #7CE7FF;
}
.gold.trophy svg {
  fill: #FFD700;
}
.silver.trophy svg {
  fill: #C0C0C0;
}
.bronze.trophy svg {
  fill: #CD7F32;
}
.hidden.trophy svg {
  fill: #000;
  fill: var(--color-text);
}
